    body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    margin: 0;
    }

    .container {
    max-width: 700px;
    margin: auto;
    padding: 30px;
    }

    h1 {
    text-align: center;
    font-size: 45px;
    color: #3b82f6;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    }

    form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    }

    input, textarea, button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    }

    textarea {
    min-height: 100px;
    }

    button {
    background: #3b82f6;
    color: white;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    }

    button:hover {
    background: #2563eb;
    }

    .output-box {
    margin-top: 20px;
    }

    #output {
    width: 100%;
    height: 250px;
    }

    .hidden {
    display: none;
    }

    #loading {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    }
